[submodule "dots/misc/termcolors/crayolo"]
	path = dots/misc/termcolors/crayolo
	url = https://github.com/dkeg/crayolo
[submodule "dots/doom-nvim"]
	path = dots/doom-nvim
	url = https://github.com/doom-neovim/doom-nvim
